/* Variables */
html {
    /* --bodyWidth: 1200px; */
    --bodySide: 106px;

    --headerHeight: 110px;
    --sectionGap: 120px;
    --footerGap: 120px;
    --footerHeight: 60px;

    --colorPrimary: #f00;
    --colorSecondary: #f50;

    /* scroll-behavior: smooth; */
}
body {
    /* scroll-behavior: smooth; */
    max-width: 1920px; margin: auto;
}

/* Layout */
.page-wrap {background-color: #fff; max-width: 1920px;}
.in-sec {margin: 0 auto; max-width:1920px; padding:0 var(--bodySide);}
.page-sec {position: relative; z-index: 50;}
.page-header {position: fixed; left: 0; top: 0; width: 100%; z-index: 100; height: var(--headerHeight); visibility: visible; opacity: 1; transition:all 0.2s ease;}
.page-header .in-sec {height: 100%; width: 100%; min-width: var(--bodyWidth);}
.page-header .page-header-sec {width: 100%; height: 100%; display: flex; align-items: center;}
.page-footer {position:relative; z-index: 100; display: flex; justify-content: center; background-color: #1D261E; width: 100%; overflow: hidden;;}
.page-footer-sec {position: relative; width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-between;}
.is-header-hide .page-header {visibility: hidden; opacity: 0;}

/* Header Section */
.page-header .logo-area {z-index: 0; opacity: 1; transition:opacity 0.2s ease; margin-right: 81px;}
.is-logo-hide .page-header .logo-area {opacity: 0; pointer-events: none;}
.page-header .logo-area .logo {position: relative; display: block; width: 148px; height: 22px;}
.page-header .logo-area .logo::before,
.page-header .logo-area .logo::after {content:''; display: block; position: absolute; left:0; top:0; width: 100%; height: 100%; background: no-repeat 0 0 / contain;}
.page-header .logo-area .logo::before {background-image: url('../images/pc/logo-header.png'); opacity: 1;}
.page-header .logo-area .logo::after {background-image: url('../images/pc/logo-header-wh.png'); opacity: 0;}
.is-darked .page-header .logo-area .logo::before {opacity: 0;}
.is-darked .page-header .logo-area .logo::after {opacity: 1;}
.page-header .nav-area {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 100;}
.page-header ul.menu {display: flex; gap: 30px;}
.page-header ul.menu li {font-weight: 700;font-size: 22px;}
.page-header .gnb {display: flex;align-items: center;gap: 30px;}
.page-header .nav-area .btn-nav {position: relative; display: flex; width: 144px; height: 48px; transition: all 0.3s ease;}
.page-header .nav-area .btn-nav::before,
.page-header .nav-area .btn-nav::after {content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: no-repeat 0 0 / contain; transition:opacity 0.2s ease;}
.page-header .nav-area .btn-nav::before {background-image: url('../images/pc/icn-nav.png'); opacity: 1;}
.page-header .nav-area .btn-nav::after {background-image: url('../images/pc/icn-nav-wh.png'); opacity: 0;}
.is-darked .page-header .nav-area .btn-nav::before {opacity: 0;}
.is-darked .page-header .nav-area .btn-nav::after {opacity: 1;}
.is-darked .page-header ul.menu li {color: #fff;}
.page-header .nav-area .btn-nav:focus-visible,
.page-header .nav-area .btn-nav:active {background-color: #eee;}

/* Content - Section1 */
.section-1 {position: relative; width: 100%; height: calc(200vh - 240px); background-color: #Fff; overflow: hidden;}
.section-1 .visual-desc {position: fixed; left: 0; top: 0; width: 100%; height: calc(100vh - 240px); padding-top: var(--headerHeight);}
.section-1 .visual-desc .desc {position: absolute; left: 50%; top: 50%; transform:translate(-50%, -50%); font-weight: 700; font-size: 60px; line-height: 80px; text-align: center;}
.section-1 .visual-list {position: absolute; top: 0; overflow: hidden; padding-top:calc(100vh - 240px); width: 100%;}
.section-1 .visual-list .visual-items {position: relative; max-width: calc(1920px + 424px); width: calc(100% + 424px); display: flex; justify-content: center; align-items: flex-start; gap: 28px; margin: 0 -212px;}
.section-1 .visual-list.is-fixed {position: fixed;}
.section-1 .visual-list .item {display: flex; align-items: flex-end; justify-content: center; width: 424px; height: 240px;}
.section-1 .visual-list .item .item-thumb {display: flex; align-items: flex-end; justify-content: center; width: 424px; height: 240px; overflow: hidden; border-radius: 50px 50px 0 0;}
.section-1 .visual-list .item:first-child .item-thumb {justify-content: flex-end;}
.section-1 .visual-list .item:last-child .item-thumb {justify-content: flex-start;}
.section-1 .visual-list .item:nth-child(3) .item-thumb {position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 100vw; height: 100vh; max-height: 100vh; border-radius: 50px 50px 0 0;}
.section-1 .visual-list .item img {object-fit: fill;}
.section-1 .visual-cont {position: absolute; left: 0; bottom: 40px; width: 100%;}
.section-1 .visual-cont .in-sec {display: flex; justify-content: space-between; align-items: center;}
.section-1 .visual-cont .txt {color: #fff; font-weight: 700; font-size: 64px; line-height: 84px;}

/* Content - Section2 */
.section-2 {height: 200vh; background: #06AF5E;}
.section-2 .bg-area {content:''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: block; background-color: #000; opacity: 0;}
.section-2 .in-sec {position: absolute; left: 50%; top: 0; z-index: 20; width: 100%; height: 100vh; transform: translateX(-50%);}
.section-2.is-fixed .in-sec {position: fixed;}
.section-2 .tit-wrap {position: absolute; left: 50%; top: 50%; transform: translate(-361px, -120px); width: 722px; height: 240px; transition: transform 0.1s ease;}
.section-2 .tit-wrap p {font-weight: 700; font-size: 60px; line-height: 80px; color: #fff;}
.section-2 .tit-wrap p:nth-child(1) {position: absolute; left: 0; top: calc(80px * 0); transform: translateX(10px);}
.section-2 .tit-wrap p:nth-child(2) {position: absolute; left: 0; top: calc(80px * 1); transform: translateX(0px);}
.section-2 .tit-wrap p:nth-child(3) {position: absolute; left: 0; top: calc(80px * 2); transform: translateX(140px);}
.section-2 .marquee-wrap {position: absolute; bottom: 86px; left: 0; width: 100%; overflow: hidden; font-weight: 700; font-size: 480px; line-height: 600px; color: rgba(255,255,255,0.03);}
.section-2 .marquee-wrap marquee {white-space: nowrap; width: 100%;}
.section-2 .txt-wrap {position: absolute; right: calc(var(--bodySide)); bottom: 160px; transform: translateY(300px); opacity: 0; transition: transform 0.1s ease, opacity 0.1s ease;}
.section-2 .txt-wrap p {font-weight: 500; font-size: 24px; line-height: 36px; color: #fff;}

/* Content - Section3 */
.section-3 {height: calc(400vh + 280px); background: #000;}
.section-3 .bg-sec {display: flex; align-items: center; justify-content: center; position: absolute; left: 50%; transform: translateX(-50%); top: 0; width: 100%; max-width: 1920px; height: 100vh; overflow: hidden; opacity: 1; transition:opacity 0.2s ease;}
.section-3 .bg-sec img {height: 100%;}
.section-3.is-fixed .bg-sec {position: fixed;}
.section-3 .in-sec  {position: absolute; left: 0; top: 100vh; z-index: 10; display: block; height: 300vh; width: 100%;}
.section-3 .con-sec {position: absolute; left: var(--bodySide); bottom: 0; display: flex; flex-direction: column; justify-content: flex-end; height: 100vh; padding-bottom: 40px;}
.section-3 .con-sec.sec-1 {top:0; opacity: 0;}
.section-3 .con-sec.sec-2 {top:100vh; opacity: 0;}
.section-3 .con-sec.sec-3 {top:200vh; opacity: 0;}

/* Content - Section4 */
.section-4 {background-color: #fff;}
.section-4 .tit-sec {width: 100%; overflow: hidden; padding-top: 130px;}
.section-4 .tit-sec .marquee {height: 240px; font-weight: 400; font-size: 200px; line-height: 240px; text-align: left; white-space: nowrap; color: #0CDE51;}
.section-4 .con-sec-wrap {position: relative; height: 400vh; width: 100%;}
.section-4 .in-sec {position: relative; width: 100%; height: 100vh;}
.section-4 .con-sec {position: absolute; left: var(--bodySide); top: calc((100vh - 800px) / 2); right: var(--bodySide); height: 100%; transform-style: preserve-3d;}
.section-4 .con-sec.sec-1 {z-index: 10; top: 40px;}
.section-4 .con-sec.sec-2 {z-index: 11; top: 100vh;}
.section-4 .con-sec.sec-3 {z-index: 12; top: 100vh;}
.section-4 .con-sec.sec-4 {z-index: 13; top: 100vh;}
.section-4 .con-sec-wrap.is-fixed .in-sec {position: fixed;}

/* Content - Section5 */
.section-5 {padding-bottom: 160px; padding-top: 70px; background-color: #fff;}
.section-5 .sec-header .type {display: block; font-weight: 700; font-size: 28px; line-height: 40px; color: #0CDE51;}
.section-5 .sec-header .title {display: block; margin-top: 32px; font-weight: 700; font-size: 60px; line-height: 80px;}
.section-5 .sec-container {margin-top: 80px;}
.section-5 .card-list {display: flex; justify-content: space-between;}
.section-5 .card {display: block; overflow: hidden; width: 540px;}
.section-5 .card-cont {width: 100%; margin-top: 32px; overflow: hidden;}
.section-5 .card-cont .tit {font-weight: 500; font-size: 28px; line-height: 40px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.section-5 .card-cont .con {margin-top: 12px; font-weight: 400; font-size: 18px; line-height: 28px; overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.section-5 .card-cont .date {margin-top: 40px; font-weight: 500; font-size: 16px; line-height: 24px; color: #999;}
