@charset "UTF-8";

@import url("./PretendardVariable/fonts.css");
/*-------------------------------------------------------------------
	@Resets
-------------------------------------------------------------------*/
html,body,div,ul,ol,dl,li,dt,dd,p,h1,h2,h3,h4,h5,h6,table,thead,tbody,tr,th,td,caption,address,article,aside,canvas,details,figure,figcaption,main,footer,header,menu,nav,section,button,form,select,textarea,input,fieldset,legend,label,a,span,strong,em,address,dfn,xmp,small,i,b {
	margin: 0;
	padding: 0;
	border: 0;
	letter-spacing: inherit;
	list-style: none;
	font-style: normal;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	color: inherit;
	line-height: inherit;
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-o-box-sizing: inherit;
	-webkit-print-color-adjust: exact;
	color-adjust: exact !important;
	overscroll-behavior: none;
}

:before, :after {
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-o-box-sizing: inherit;
}
html {
	font-size: 1px;
}
body {
	color: #444;
	font-family: "Pretendard Variable", "sans-serif";
	font-size: 14rem;
	line-height: 1.4;
	letter-spacing: -0.02em;
	word-break: break-all;
	word-wrap: break-word;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

img {
	max-width: 100%;
	vertical-align: top;
}

button,
[role="button"] {
	cursor: pointer;
}

.blind {
	position: fixed;
	overflow: hidden;
	border: 0;
	margin: -1px;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
}
.block {
	display: block;
}

/* 스크롤바 전체 영역 */
::-webkit-scrollbar {
	width: 0px;  /* 세로 스크롤바 너비 */
	height: 0px; /* 가로 스크롤바 높이 */
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
	background: #f1f1f1; /* 연한 회색 배경 */
	border-radius: 4px;
}

/* 스크롤바 핸들 (움직이는 부분) */
::-webkit-scrollbar-thumb {
	background: #888; /* 진한 회색 */
	border-radius: 4px;
}

/* 마우스 호버 시 */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/*-------------------------------------------------------------------
	@Layout
-------------------------------------------------------------------*/
/* Variables */
:root {
	--spacer-side: 20rem;
	--max-inner: 100%;
	--modal-srch-inner: 100%;
	--modal-srch-spacer: 20rem;
	--color-primary: #EA002C;

}

/* Page */
html, body {
	height: 100%;
	background-color: #000;
}

.is-scroll-locked {
	overflow: hidden;
}

.inner {
	width: 100%;
	max-width: calc(var(--max-inner) + (var(--spacer-side) * 2));
	padding-left: var(--spacer-side);
	padding-right: var(--spacer-side);
	margin: auto;
}
.wrapper {
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
}
.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 200;
	width: 100%;
}
.header .header-img {
	display: block;
	width: 100%;
	aspect-ratio: 329/32;
	background: url('../img/type_a_header_nor.png') no-repeat center center / 100% auto;
}
.header .header-active {
	background-color: var(--color-primary);
}
.header .header-active .header-img {
	background: url('../img/type_a_header_act.png') no-repeat center center / 100% auto;
}
.header .header-normal,
.header .header-active {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 11rem 14rem;
	transition: transform 0.2s ease;
}
/* 기본 상태 */
.header .header-normal {
	transform: translateY(0);
}
.header .header-active {
	transform: translateY(-110%);
}
/* 엑티브 상태 */
.header.is-active .header-active {
	transform: translateY(0%);
}
.header.is-active .header-normal {
	transform: translateY(-110%);
}

/*-------------------------------------------------------------------
	@Content
-------------------------------------------------------------------*/
/* Fullpage */
.section_fullpage {
	z-index: 10;
}
.section_fullpage .fp-overflow {
	outline: 0;
}
.section_fullpage .section img {
	width: 100%;
}
/* Floating Search */
.floating-srch {
	position:fixed;
	right: 10rem;
	bottom: 26rem;
	z-index: 2000;
	width: 60rem;
	height: 60rem;
}
.floating-srch .btn {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
	cursor: pointer;
	border-radius: 50%;
	background-color: var(--color-primary);
}
.floating-srch img {
	transform: scale(1);
	transition: all 0.1s ease;
}

.floating-srch .btn:hover {
	box-shadow: 0rem 3rem 5rem 0 rgba(0,0,0,0.4);
}
.floating-srch .btn-srch-close {
	opacity: 0;
	pointer-events: none;
}
.floating-srch .btn-srch-close img {
	transform: scale(0);
}
body.is-modal-opened .floating-srch .btn-srch-click {
	opacity: 0;
	pointer-events: none;
}
body.is-modal-opened .floating-srch .btn-srch-close {
	opacity: 1;
	pointer-events: auto;
}
body.is-modal-opened .floating-srch .btn-srch-click img {
	transform: scale(0);
}
body.is-modal-opened .floating-srch .btn-srch-close img {
	transform: scale(1);
}

/* 검색모달 레이아웃 */
.modal-srch {
	visibility: hidden;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	opacity: 0;
	pointer-events: none;
	transition: all 0.1s ease;
}
.modal-srch.is-opened {
	pointer-events: auto;
	visibility: visible;
	opacity: 1;
}
.modal-srch .modal-dialog {
	display: flex;
	flex-direction: column;
	padding: 26rem;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.95);
}
.modal-srch .modal-dialog .modal-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	overflow: auto;
	overscroll-behavior: none;
}
.modal-srch .modal-dialog .modal-body hr {
	height: 1rem;
	margin:16rem 0 20rem;
	border: 0;
	background-color: #CCCCCC;
}
.modal-srch .modal-dialog .modal-body .modal-section {
	display: none;
	width: 100%;
}
.modal-srch.is-searched .modal-dialog .modal-body .modal-section {
	display: block;
}
.modal-srch .modal-dialog .modal-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: none;
}
/* //검색모달 레이아웃 */

/* 검색영역 레이아웃 */
.keyword-use-wrap {
	max-width: 100%;
}

.srch-result-wrap,
.keyword-recom-wrap,
.keyword-srch-wrap {
	position: relative;
	width: 100%;
	max-width: var(--modal-srch-inner);
	margin-left: auto;
	margin-right: auto;
}
/* //검색영역 레이아웃 */

/* 사용자 검색 */
.keyword-use-wrap .keyword-use-label {
	display: flex;
	gap: 10rem;
}
.keyword-use-wrap .keyword-use-label .btn {
	background-color: transparent;
}
.keyword-use-wrap .keyword-use-label .btn .icn-10-srch-remove-gr {
	display: block;
	width: 10rem;
	height: 10rem;
	background: url('../img/icn-10-srch-remove-gr.png') no-repeat center center / contain;
}
.keyword-use-wrap .keyword-use-label .txt {
	display: block;
	font-weight: 500;
	font-size: 16rem;
	line-height: 24rem;
	color: #000;
}
/* //사용자 검색 */

/* 검색 결과 */
.srch-result-wrap h2.srch-result-title {
	font-weight: 700;
	font-size: 18rem;
	line-height: 26rem;
	color: #000;
}
.srch-result-wrap h2.srch-result-title .label {
	display: inline-block;
	padding: 8rem 20rem;
	background-color: #F0F0F0;
	border-radius: 50rem;
	vertical-align: top;
}
.srch-result-wrap h3.srch-result-title {
	margin-top: 16rem;
	margin-bottom: 4rem;
	font-weight: 700;
	font-size: 16rem;
	line-height: 24rem;
	color: #000;
}
.srch-result-wrap .srch-result-list li {
	position: relative;
	padding-left: 16rem;
	font-size: 14rem;
	line-height: 22rem;
	color: #000;
}
.srch-result-wrap .srch-result-list li::before {
	content:'';
	display: block;
	position: absolute;
	left: 4rem;
	top: 10rem;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: #000;
}

.srch-result-wrap .srch-result-link {
	display: flex;
	flex-wrap: wrap;
	gap: 16rem;
}
.srch-result-wrap .srch-result-link .btn-link {
	padding: 3rem 15rem;
	border:1px solid #888888;
	border-radius: 40rem;
	font-weight: 600;
	font-size: 14rem;
	line-height: 22rem;
	color: #000;
	text-decoration: none;
}
/* //검색 결과 */

/* 추천 검색어 */
.keyword-recom-wrap .keyword-recom-title {
	margin-bottom: 8rem;
	font-weight: 500;
	font-size: 14rem;
	line-height: 28rem;
	color: var(--color-primary);
}
.keyword-recom-wrap .keyword-recom-list {
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
}
.keyword-recom-wrap .keyword-recom-list .btn-keyword {
	padding: 3rem 12rem;
	background-color: #FFF0F3;
	border-radius: 40rem;
	font-weight: 600;
	font-size: 13rem;
	line-height: 20rem;
	color: var(--color-primary);
}
/* //추천 검색어 */

/* 검색어 입력 */
.keyword-srch-wrap {
	padding-right: 50rem;
	margin-top: 30rem;
}
.keyword-srch-wrap .keyword-srch-input {
	width: 100%;
	position: relative;
	display: flex;
}
.keyword-srch-wrap .keyword-srch-input .input {
	width: 100%;
	height: 60rem;
	border:1px solid var(--color-primary);
	background-color: var(--color-primary);
	border-radius: 50rem;
	padding: 16rem 20rem;
	padding-right: 50rem;
	font-weight: 700;
	font-size: 18rem;
	line-height: 30rem;
	color: #fff;
	transition: all 0.2s ease;
}
.keyword-srch-wrap .keyword-srch-input .input::placeholder {
	color: #fff;
}
.keyword-srch-wrap .keyword-srch-input .input:focus {
	outline: 0;
	box-shadow: 0 3rem 5rem 0 rgba(234,0,44, 0.2);
}
.keyword-srch-wrap .keyword-srch-input .btn {
	display: flex;
	background-color: transparent;
	position: absolute;
	right: 16rem;
	top: 50%;
	transform: translateY(-50%);
}
.keyword-srch-wrap .keyword-srch-input .icn-40-srch {
	display: block;
	width: 30rem;
	height: 30rem;
	background: url('../img/icn-40-srch-wh.png') no-repeat center center / contain;
}
.modal-srch.is-searched .keyword-srch-wrap .keyword-srch-input .input {
	background-color: #fff;
	color: #000;
}
.modal-srch.is-searched .keyword-srch-wrap .keyword-srch-input .icn-40-srch {
	background-image: url('../img/icn-40-srch-bk.png');
}
/* //검색어 입력 */
