@charset "UTF-8";

/*-------------------------------------------------------------------
	@Content
-------------------------------------------------------------------*/
.container {
	padding-top: 100rem;
}

/* 상담신청 팝업 */
.modal-sub {
	visibility: hidden;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	opacity: 0;
	pointer-events: none;
	transition: all 0.2s ease;
}
.modal-sub.is-opened {
	pointer-events: auto;
	visibility: visible;
	opacity: 1;
}
.modal-sub .modal-dialog {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}
.modal-sub .modal-dialog .modal-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* flex-grow: 1; */
	overflow: auto;
	overscroll-behavior: none;
}
.modal-sub .modal-dialog .modal-body .modal-section {
	display: none;
	width: 100%;
}
.modal-sub.is-searched .modal-dialog .modal-body .modal-section {
	display: block;
}
.modal-sub .modal-dialog .modal-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: none;
}